[Unit]
Description=A Clockwork Plex dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=andy
Group=andy
WorkingDirectory=/home/andy/A-Clockwork-Plex
ExecStart=/home/andy/A-Clockwork-Plex/venv/bin/python /home/andy/A-Clockwork-Plex/app/runner.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
