{% extends "base.html" %}
{% set active_page = 'plexamp' %}
{% block title %}Plexamp - A Clockwork Plex{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plexamp.css') }}">
{% endblock %}
{% block content %}
<section class="plexamp-shell" aria-label="Plexamp embedded player">
  <iframe class="plexamp-frame" src="{{ plexamp_url }}" title="Plexamp" allow="autoplay"></iframe>
  <div class="plexamp-help" aria-hidden="true">
    <span>Swipe/tap the handle for A Clockwork Plex navigation</span>
  </div>
</section>

{% include "_nav.html" %}
{% endblock %}
